<mat-drawer-container>
  <mat-drawer mode="side" opened [style.width.vw]="20">
      <h1>
        Path of Exile: Stash
      </h1>
    <input type="search" [ngModel]="searchString" (ngModelChange)="onSearchType($event)">
    <section *ngFor="let league of leagueList | async">
      <label>
        {{ league }}
        <input type="checkbox" [ngModel]="(filterByLeague | async)?.[league]"
               (ngModelChange)="onLeagueFilterChange(league, $event)">
      </label>
    </section>
  </mat-drawer>
  <mat-drawer-content><ul *ngIf="stashes | async as stash">
    <li *ngFor="let item of filteredItems | async">
      {{ item.name || item.typeLine }}
    </li>
  </ul></mat-drawer-content>
</mat-drawer-container>
